/*.boxC{
    display: flex;
    padding-left: 2%;
}
.boxC .listaC{
    padding: 18px 28px 0px 12px;
    border-width: 2px 0px 2px 2px;
    border-style: solid;
    border-color: gray;
    border-radius: 12px 0% 0% 12px;
}

.boxC .listaC li{
    list-style: none;
    padding-top: 10px;
    border: solid 1px;
}

.boxC .listaC a{
    color: #777777;
    text-decoration: none;
    font-size: 17px;
}
.boxC .listaC a:hover{
    color: red;
    font-size: 20px;
    cursor: pointer;
}


.boxP{
    border-width: 2px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    width: 80%;
    border-style: solid;
    border-color: gray;
    border-radius: 0% 12px 12px 0%;}
.Productos {
    width: 250px;
    height: 400px;
}

.Productos .card {
    border-radius: 25px;
    border: 1px solid aqua;
    /*box-shadow: -8px 8px 1px rgba(0, 0, 0, 0.1);
}

.Productos .card-head {
    position: static;
    height: 252px;
    background: #00cccc;
    /* Old browsers 
    background: -moz-linear-gradient(-45deg, #00cccc 8%, #c82930 83%);
    /* FF3.6-15 
    background: -webkit-linear-gradient(-45deg, #00cccc 8%, #c82930 83%);
    /* Chrome10-25,Safari5.1-6 
    background: linear-gradient(135deg, #00cccc 8%, #c82930 83%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00cccc', endColorstr='#c82930', GradientType=1);
    /* IE6-9 fallback on horizontal gradient 
    border-radius: 25px 25px 0 0;
}
.Productos .card-head h2{padding-top:9px;font-size: 20px;}
.Productos .card-logo {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    max-width: 20px;
    max-height: 20px;
    min-width: 20px;
    min-height: 20px;
    margin: 15px;;
}

.Productos .product-img {
    position: static;
    left: 0;
    margin-top: -1px;
    width: 180px;
    height: 170px;
}


.Productos .card-body {
    height: 100px;
    background: #fff;
    border-radius: 0 0 25px 25px;
}

.Productos .badge {
    position: static;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    background: #11e95b;
    padding: 2px 5px;
    border-radius: 4px;
    top: -2px;
    margin-left: -6px;
    height: 16px;
}


.Productos .pricesN{
    display: flex;
    justify-content: space-between;
    padding: 40px 25px 0px 25px;
    align-items: center;
}

.Productos .product-priceN {
    background: #11e95b;
    padding: 7px 8px;
    text-align: center;
    font-size: 20px;
    color: #000;
    border-radius: 4px;
    margin-top: -13px;
    margin-left: -5px;
}

.Productos .product-priceP {
    height: 12px;
    text-decoration: line-through;
    background: #00cccc;
    padding: 7px 8px;
    text-align: center;
    font-size: 15px;
    color: #000;
    border-radius:4px;
    margin-top: -13px;
    margin-left: -5px;
}

.Productos .pricesT{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;

}

@media screen and (max-width: 1500px){
    .boxP{
        flex-wrap: wrap;
    }
}*/